<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Antiinfecciosos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Amoxicilina 500 mg Caja Con 50 Cápsulas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/amoxicilina.jpg"  ></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 22.900</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Cefalexina 500 mg Caja Con 20 Cápsulas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/cefalexina.jpg" ></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 16.650</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Clotrimazol Crema Vaginal 1 % Caja Con Tubo Con 40 g</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/Clotrimazol.jpg"  ></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 13.950</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Ciprofloxacino 500 mg Caja Con 10 Tabletas Recubiertas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/ciprofloxacino.jpg"  ></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 7.450</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
