<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Quienes somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-label class="title">Conocenos</ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="titleQS">CAFAM DROGUERIAS <br> en Confianza</ion-label>
        <p>
          Droguerías Cafam es un negocio de más de 40 años que creó la Caja de Compensación Cafam. <br><br> Nacen y crecen de la
          mano de los supermercados como una categoría de cada almacén o como droguerías independientes con la venta al
          público en general.<br><br> Con el servicio se quiso complementar la atención de salud que ya prestaba la Caja de Compensación
          a través de su EPS Famisanar. <br><br> Nuestro compromiso como cadena nacional, es ofrecer a nuestros clientes una experiencia
          de servicio, traducida no solamente como la finalización de un proceso bien hecho, sino como parte de una cultura,<br><br>
          donde nuestra gente se caracteriza por la calidez a la hora de atender, nuestros puntos de venta vienen siendo renovados
          y modernizados para hacerlos más agradables, cómodos y que se caractericen por su organización, olor y que visualmente
          generen un alto impacto en la mente de nuestros clientes y usuarios, para que perciban nuestra promesa “una Droguería de confianza”.
        </p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
