<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Analgesicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Fenalgex Acetaminofén Caja Con 30 Tabletas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/acetaminofen.jpg"  ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Ibuprofeno MK 400 mg Caja Con 100 Tabletas Cubiertas
            </ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/Ibuprofeno.jpg" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Novalgina 500 mg/mL Caja Con Frasco Con 10 mL</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/novalgina.jpg" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Tramadol + Acetaminofén 37,5 / 325 mg Caja Con 10 Tabletas Cubiertas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/tramadol.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>