<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Antiinflamatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Meloxicam 15 mg Caja Con 10 Tabletas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/meloxicam.jpg"></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 14.100</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Diclofenaco 50 mg Caja x 20 Tabletas Cubiertas </ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/diclofenaco.jpg"></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 3.000</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Advil Max Caja Con 10 Cápsulas Líquidas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/advil.jpg"></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 14.600</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Voltaren Emulgel 1 % Caja Con Tubo Con 30 g</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/voltaren.jpg"></ion-img>
          <ion-card-content>
            <ion-label class="Price">$ 26.500</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
