<ion-app>
  <ion-menu side="start" menuId="mainMenu" contentId="principal" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-menu-toggle>
          <ion-item routerLink="home" routerDirection="forward">Inicio</ion-item>
          <ion-item routerLink="categorias" routerDirection="forward">Categorías</ion-item>
          <ion-item routerLink="sucursales" routerDirection="forward">Sucursales</ion-item>
          <ion-item routerLink="quienes-somos" routerDirection="forward">Quiénes somos</ion-item>
          <ion-item routerLink="usuarios" routerDirection="forward">Usuarios favoritos</ion-item>
          <ion-item routerLink="login" routerDirection="forward">Salir</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
