<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Antialergicos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Cetirizina 10 mg Caja x 10 Tabletas Recubiertas - Incobra</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/Cetirizina.jpg"  ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Desloratadina Jarabe Frasco Con 60 mL</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/desloratadina.jpg" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Fexofenadina 120 mg Caja Con 10 Tabletas</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/Fexofenadina.jpg" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <ion-label class="title">Levocetirizina 5 mg Caja Con 10 Tabletas Cubierta Con Película</ion-label>
          </ion-card-title>
          <ion-img src="../../assets/img/Levocetirizina.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>