<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Drog. Cafam B/quilla Car. Calle 86</ion-card-title>
      <ion-card-subtitle>Carrera 64 C No. 86 - 20 Atlántico</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lunes:  7:30 Am - 9:00 Pm <br>
      Martes:  7:30 Am - 9:00 Pm <br>
      Miércoles:  7:30 Am - 9:00 Pm <br>
      Jueves:  7:30 Am - 9:00 Pm <br>
      Viernes:  7:30 Am - 9:00 Pm <br>
      Sábado:  7:30 Am - 9:00 Pm <br>
      Domingo:  9:00 Am - 8:00 Pm <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Drog. Cafam B/quilla Exi. Buenavista</ion-card-title>
      <ion-card-subtitle>Carrera 53 Nº 98 - 99 Esquina Atlántico</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lunes:  8:00 Am - 9:00 Pm<br>
      Martes:  8:00 Am - 9:00 Pm<br>
      Miércoles:  8:00 Am - 9:00 Pm<br>
      Jueves:  8:00 Am - 9:00 Pm<br>
      Viernes:  8:00 Am - 9:00 Pm<br>
      Sábado:  8:00 Am - 9:00 Pm<br>
      Domingo:  8:00 Am - 9:00 Pm<br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Drog. Cafam B/quilla Exi. Metropolitano</ion-card-title>
      <ion-card-subtitle>Avenida Circunvalar Con Calle Murillo Atlántico</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lunes:  8:00 Am - 9:00 Pm<br>
      Martes:  8:00 Am - 9:00 Pm<br>
      Miércoles:  8:00 Am - 9:00 Pm<br>
      Jueves:  8:00 Am - 9:00 Pm<br>
      Viernes:  8:00 Am - 9:00 Pm<br>
      Sábado:  8:00 Am - 9:00 Pm<br>
      Domingo:  9:00 Am - 8:00 Pm<br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Drog. Cafam B/quilla Exi. Calle 77</ion-card-title>
      <ion-card-subtitle>Calle 77 Carrera 71 Esquina Atlántico</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lunes:  8:00 Am - 8:30 Pm<br>
      Martes:  8:00 Am - 8:30 Pm<br>
      Miércoles:  8:00 Am - 8:30 Pm<br>
      Jueves:  8:00 Am - 8:30 Pm<br>
      Viernes:  8:00 Am - 8:30 Pm<br>
      Sábado:  8:00 Am - 8:30 Pm<br>
      Domingo:  9:00 Am - 8:00 Pm<br>
    </ion-card-content>
  </ion-card>

</ion-content>
